---
layout: default
---
<h2>Preliminary lexicon</h2>

Entry words in <span class="lexitem-0">bold face</span> are valence-0;
entry words in <span class="lexitem-2">italics</span> are valence-2.

{% assign lexicon = site.data.lexicon | sort: "key" %}
<dl class="lexicon">
    {% for lexitem in site.data.lexicon %}
    <dt id="{{ lexitem.daemonica }}" data-collate="{{ lexitem.key }}" class="lexitem-{{ lexitem.valence }}">
        {{ lexitem.daemonica }}
    </dt>
    <dd>
        <ol class="translations">
            {% for tr in lexitem.translations %}
            <li>
                {% for tag in tr.tags %}
                <span class="semantic-tag">{{ tag }}</span>
                {% endfor %}
                {{ tr.english }}
            </li>
            {% endfor %}
        </ol>
        {% if lexitem.xref.size > 0 %}
        <ul class="xref" role="list" title="See also">
            {% for ref in lexitem.xref %}
            <li><a href="#{{ ref }}">{{ ref }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if lexitem.notes.size > 0 %}
        <blockquote>
            {{ lexitem.notes }}
        </blockquote>
        {% endif %}
    </dd>
    {% endfor %}
</dl>