---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'Junicode';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Junicode/Junicode.ttf') format('truetype');
}

@font-face {
  font-family: 'Junicode';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Junicode/Junicode-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Junicode';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Junicode/Junicode-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Junicode';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Junicode/Junicode-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Gentium Plus';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/GentiumPlus/web/GentiumPlus-Regular.woff2') format('woff2'),
       url('../fonts/GentiumPlus/web/GentiumPlus-Regular.woff') format('woff'),
       url('../fonts/GentiumPlus/GentiumPlus-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gentium Plus';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/GentiumPlus/web/GentiumPlus-Bold.woff2') format('woff2'),
       url('../fonts/GentiumPlus/web/GentiumPlus-Bold.woff') format('woff'),
       url('../fonts/GentiumPlus/GentiumPlus-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gentium Plus';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/GentiumPlus/web/GentiumPlus-Italic.woff2') format('woff2'),
       url('../fonts/GentiumPlus/web/GentiumPlus-Italic.woff') format('woff'),
       url('../fonts/GentiumPlus/GentiumPlus-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Gentium Plus';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/GentiumPlus/web/GentiumPlus-BoldItalic.woff2') format('woff2'),
       url('../fonts/GentiumPlus/web/GentiumPlus-BoldItalic.woff') format('woff'),
       url('../fonts/GentiumPlus/GentiumPlus-BoldItalic.ttf') format('truetype');
}
// paletton base rgb #eeca92, 50 degree hue, complementary
// https://paletton.com/#uid=20N0u0kcntS2TP37cCHi-opp8iK

// color names chosen based on the heraldry principle
// "do not put a metal on a metal or a color on a color":
// so most text is $dark-blue or $brown on a $brass background

$electrum: #EECA92;	// winter hazel
$brass: #FFF6E8;  // old lace
$bronze: #FFE8C6;  // tequila
$copper: #C29652;  // camel
$brown: #956720;  // sandy taupe

$silver: #647E9B;	// greyish blue
$steel: #CCD4DE;   // iron
$pale-blue: #95A7BC;   // gull grey
$light-blue: #3B5B7F;   // cerulean blue
$dark-blue: #1B3C61;   // nile blue

header img { border: 2px solid $brown; }

body {
  background-color: $brass;
  color: $dark-blue;
  font: 1rem/1.4 'Junicode', serif;
  font-variant-numeric: oldstyle-nums;
}

h1, h2 { font-size: 2.618rem; } // phi squared
h3 { font-size: 1.618rem; } // phi
h4, h5, h6 { font-size: 1.272rem; } // square root of phi

section h2 {
    background: linear-gradient(to right, $bronze, transparent);
}

.highlight {
    background: linear-gradient(to right, $bronze, transparent 20%)
}

h1, h2, h3, h4 { color: $brown; }
h5, h6 { color: black; }

h4, h5, h6 { font-weight: inherit; }
h4, h5 { font-style: italic;}
h6 { font-variant: all-small-caps; }

h1, h2 { margin: 0 0 1ex; }
h3, h4 { margin: 1ex 0 0.5ex; }
h5, h6 { margin: 0.5ex 0 0; }

a { color: $light-blue; font-weight: bold; }

a:hover, a:focus { color: $pale-blue; font-weight: bold; }

// prevent footnote markers from affecting the line spacing
// https://leancrew.com/all-this/2011/12/beating-the-spread/
sup, sub { vertical-align: 0; position: relative; font-variant-numeric: normal; }
sup { bottom: 1ex; }
sub { top: 0.8ex; }

td[align~="right"], th[align~="right"] { text-align: right; }
td[align~="center"], th[align~="center"] { text-align: center; }

blockquote { border-left: 2px solid $steel; padding-left: 1em; }

blockquote ul { list-style-type: none; font-style: normal; font-stretch: normal; }
blockquote + blockquote ul { padding-top: 1ex; }

blockquote ul li:nth-of-type(1) { font-style: italic; }
blockquote ul li:nth-of-type(2) {
    font-size: smaller;
    font-feature-settings: "c2sc";
}
blockquote ul li:nth-of-type(2) u { text-decoration-style: dotted; }
blockquote ul li:nth-of-type(3)::before { content: open-quote; }
blockquote ul li:nth-of-type(3)::after { content: close-quote; }

ul { padding-left: 0.75ch; margin: 0 1em 0; }

section p { margin: 0; }

section p + p { text-indent: 2em; margin-top: 0; }

section p + * { margin-top: 0.5ex; }

section.footnotes {
    padding: 0.5ex 0;
    background: linear-gradient(135deg, $bronze, transparent 20%)
}

// section.footnotes::before { content: '⸻'; font-weight: bold; color: $electrum; }

.lexitem-0 { font-weight: bold !important; }
.lexitem-1 { font-weight: inherit; }
.lexitem-2 { font-style: italic !important; }
.lexicon dt .valence-tag {
    position: absolute;
    left: 0rem;
    top: 0.75rem;
    font-size: smaller;
}
.lexicon dt .word { position: absolute; left: 1.5rem; font-weight: bolder; }
.lexicon dt {
    font-weight: inherit;
    color: $brown;
    position: relative;
    padding-top: 0.5rem;
}
.lexicon dd { margin-left: 2rem; padding-top: 1.5rem; }
.lexicon dd ol, .lexicon dd ul { padding-left: 0; margin-bottom: 0.5ex; }
.lexicon dd blockquote { font-style: normal; }
.lexicon .semantic-tag { font-size: smaller; font-variant: small-caps; }
.lexicon .derivations table { margin: 0; }
.lexicon .deriv-header { text-align: left; font-size: smaller; font-variant: small-caps; }
.lexicon .derivations td { padding: 0; border: none; vertical-align: baseline; }
.lexicon .derivations .deriv-d { font-style: italic; width: 7em; }
.lexicon .derivations .deriv-en { text-indent: -0.5rem; }
.lexicon .derivations li { list-style-type: circle; }
.lexicon .translations li:only-child { list-style-type: none; }
.lexicon .translations li::marker { font-size: smaller; }
.lexicon .xref { list-style: none; }
.lexicon .xref::before { content: "See also:"; }
.lexicon .xref li { display: inline; font-style: italic; }
.lexicon .xref li::after { content: "; "}
.lexicon .xref li:last-of-type::after { content: "." }